{% extends 'layouts/app.html' %} {% block title %} Tasks {% endblock %} {% block
content %}

<div class="row">
  <div class="col-8">
    <h1>List of Tasks</h1>
  </div>
  <div class="col-4">
    <a href="{% url 'tasks:create' %}" class="btn btn-sm btn-outline-success"
      >Create New Task</a
    >
  </div>
</div>

<div class="row">
  <div class="col">
    <ul class="m-0 p-0 list-unstyled">
      {% for task in tasks %}
      <li class="mb-2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-caret-right-fill"
          viewBox="0 0 16 16"
        >
          <path
            d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
          />
        </svg>

        {{ task.task }} {% if task.completed_at is false %}
        <a
          href="{% url 'tasks:complete' task.id %}"
          class="btn btn-sm btn-outline-primary"
          >complete</a
        >

        <!-- Button trigger modal -->
        <button
          type="button"
          class="btn btn-sm btn-outline-primary"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-check2"
            viewBox="0 0 16 16"
          >
            <path
              d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"
            />
          </svg>
        </button>

        <!-- Modal -->
        <div
          class="modal fade"
          id="exampleModal"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <form action="{% url 'tasks:complete' task.id %}" method="post">
                <div class="modal-body"></div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    Close
                  </button>
                  <button type="button" class="btn btn-primary">
                    Save changes
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>

        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% endblock %}
